{{ define "main" }}
    <!-- head section -->
    <section class="content-top-margin page-title page-title-small bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 wow fadeInUp" data-wow-duration="300ms">
                    <!-- page title -->
                    <h1 class="black-text">Tag: {{ .Title }}</h1>
                    <!-- end page title -->
                </div>
            </div>
        </div>
    </section>
    <!-- end head section -->
    <!-- content section -->
    <section class="wow fadeIn">
        <div class="container">
            <div class="row">
                <!-- content  -->
                <div class="col-md-8 col-sm-8">
                    {{ range .Paginator.Pages }}
                        {{.Render "summary" }}
                    {{ end }}
                </div>
                <!-- end content  -->
                <!-- sidebar  -->
                    {{ partial "blog-sidebar" . }}
                <!-- end sidebar  -->
            </div>
            {{ partial "pagination" .}}
        </div>
    </section>
    <!-- end content section -->
{{ end }}
