<!-- footer -->
<footer>
    <div class="container footer-middle">
        <div class="row">
            <div class="col-md-3 col-sm-3 footer-link1 xs-display-none">
                <!-- headline -->
                <h5>About Us</h5>
                <!-- end headline -->
                <!-- text -->
                <p class="footer-text">
                    Welcome to HughSamBros! We created this blog to document our successes and failures as we attempt to complete one different challenge every month.
                    From time to time, we also post random stuff on topics that interest us!
                </p>
                <!-- end text -->
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4 footer-link2 col-md-offset-5 text-center">
                <!-- address -->
                <i class="icon-map-pin small-icon black-text"></i>
                <h6 class="black-text margin-two no-margin-bottom">Montréal,<br>Canada</h6>
                <!-- end address -->
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4  footer-link3 text-center">
                <!-- email -->
                <i class="icon-envelope small-icon black-text"></i>
                <h6 class="margin-two no-margin-bottom">
                    <a href="mailto:hughsambros@gmail.com" class="black-text">hughsambros<br>@gmail.com</a>
                </h6>
                <!-- end email -->
            </div>
        </div>
        <div class="wide-separator-line bg-mid-gray no-margin-lr margin-three no-margin-bottom"></div>
        <div class="row margin-four no-margin-bottom">
            <div class="col-md-6 col-sm-12 sm-text-center sm-margin-bottom-four">
                <!-- link -->
                <ul class="list-inline footer-link text-uppercase">
                    <li><a href="{{ .Site.BaseURL}}about">About Us</a></li>
                    <li><a href="{{ .Site.BaseURL}}blog">Blog</a></li>
                    <li><a href="{{ .Site.BaseURL}}">Home</a></li>
                    <li><a href="{{ .Site.BaseURL}}contact">Contact</a></li>
                </ul>
                <!-- end link -->
            </div>
            <div class="col-md-6 col-sm-12 footer-social text-right sm-text-center">
                <!-- social media link -->
                <a target="_blank" href="{{ .Site.Params.instagramLink }}"><i class="fa fa-instagram"></i></a>
                <a target="_blank" href="{{ .Site.Params.facebookLink }}"><i class="fa fa-facebook"></i></a>
                <a target="_blank" href="{{ .Site.Params.youtubeLink }}"><i class="fa fa-youtube"></i></a>
                <!-- end social media link -->
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark-gray footer-bottom">
        <div class="container">
            <div class="row margin-three">
                <!-- copyright -->
                <div class="col-md-6 col-sm-6 col-xs-12 copyright text-left letter-spacing-1 xs-text-center xs-margin-bottom-one">
                    &copy; 2015 H-Code is proudly powered by ThemeZaa (modified by Nicholas Hugh Sam).
                </div>
                <!-- end copyright -->
                <!-- logo -->
                <div class="col-md-6 col-sm-6 col-xs-12 footer-logo text-right xs-text-center">
                    <a href="{{ .Site.BaseURL }}"><img src="/assets/images/hsb/logo/HSbros_grey.png" alt=""/></a>
                </div>
                <!-- end logo -->
            </div>
        </div>
    </div>
    <!-- scroll to top -->
    <a href="javascript:;" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
    <!-- scroll to top End... -->
</footer>
<!-- end footer -->
