<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInUp">
        <!-- pagination -->
        <div class="pagination">
            {{ if .Paginator.HasPrev }}
                <a href="{{ .Paginator.Prev.URL }}"><img src="/assets/images/arrow-pre-small.png" alt=""/></a>
            {{ end }}
            <a href="">{{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</a>
            {{ if .Paginator.HasNext }}
                <a href="{{ .Paginator.Next.URL }}"><img src="/assets/images/arrow-next-small.png" alt=""/></a>
            {{ end }}
        </div>
        <!-- end pagination -->
    </div>
</div>
