{{ define "main" }}
    <!-- head section -->
    <section class="page-title parallax3 parallax-fix page-title-large">
        <div class="opacity-medium bg-black"></div>
        <img class="parallax-background-img" src="{{ .Params.coverimg }}" alt="" />
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center animated fadeInUp">
                    <div class="separator-line bg-yellow no-margin-top margin-four"></div>
                    <!-- page title -->
                    <h1 class="white-text">{{ .Title }}</h1>
                    <!-- end page title -->
                    <!-- page title tagline -->
                    <!-- end title tagline -->
                </div>
            </div>
        </div>
    </section>
    <!-- end head section -->
    <!-- content section -->
    <section class="wow fadeIn">
        <div class="container">
            <div class="row">
                <!-- content  -->
                <div class="col-md-8 col-sm-8">
                    {{ range .Paginator.Pages }}
                        {{.Render "summary" }}
                    {{ end }}
                </div>
                <!-- end content  -->
                <!-- sidebar  -->
                    {{ partial "blog-sidebar" . }}
                <!-- end sidebar  -->
            </div>
            {{ partial "pagination" .}}
        </div>
    </section>
    <!-- end content section -->
{{ end }}
