<!-- post item -->
<div class="blog-listing blog-listing-classic wow fadeIn">
    <!-- post image -->
    <div class="blog-image"><a href="{{ .Permalink }}"><img src="{{ if .Params.img }} /assets/images/hsb/half/{{ .Params.img }} {{ else }} http://placehold.it/1200x800 {{end}}" alt=""/></a></div>
    <!-- end post image -->
    <div class="blog-details">
        <div class="blog-date">
            Posted by
            {{ if .Params.author}} {{ .Params.author }} {{end}} | {{ if .PublishDate }} {{ .PublishDate.Format "02 January 2006" }} {{end}}|
            {{ $count := .Content | countwords }}
            {{ $readtime := div $count 200 }}
            Read Time: {{ $readtime }} min |
            {{if .Params.categories}}
                {{ range .Params.categories}}
                    <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . | upper }}</a> ,
                {{end}}
            {{end}}
        </div>
        <div class="blog-title"><a href="{{ .Permalink }}">{{ if .Title }} {{ .Title }} {{end}}</a></div>
        <div>{{ if .Params.description }} {{ .Params.description | upper }} {{end}}</div>
        <div class="separator-line bg-black no-margin-lr margin-four"></div>
        <div><h5 class="widget-title margin-one no-margin-top">Tags</h5>
            {{if .Params.tags}}
                {{ range .Params.tags}}
                    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . | upper }}</a> ,
                {{end}}
            {{end}}
        </div>
        <a class="highlight-button btn btn-small xs-no-margin-bottom" href="{{ .Permalink }}">Read More</a>
    </div>
</div>
<!-- end post item -->
