{{ define "main" }}
    <!-- head section -->
    <section class="content-top-margin page-title page-title-small border-top-light">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 wow fadeInUp" data-wow-duration="300ms">
                    <!-- page title -->
                    <h1 class="black-text">{{ .Title | upper }}</h1>
                    <!-- end page title -->
                </div>
            </div>
        </div>
    </section>
    <!-- end head section -->
    <!-- content section -->
    <section class="wow fadeIn cover-background" style="background-image:url('/assets/images/hsb/full/{{ .Params.background }}');">
        <div class="opacity-medium"></div>
        <div class="container position-relative">
            <div class="row">
                <div class="col-md-5 col-sm-6 center-col text-center">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </section>

    <!-- description section -->
    <section id="key-person" class="wow fadeIn no-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-10 center-col text-center margin-six wow fadeIn">
                    <h4 class="gray-text">{{ .Content }}</h4>
                </div>
            </div>
        </div>
    </section>
    <!-- end description section -->

    <!-- people section -->
    <section id="blog" class="wow fadeIn">
        <div class="container">
            <div class="row">
                <!-- section title -->
                <div class="col-md-12 text-center">
                    <h3 class="section-title">The Bros</h3>
                </div>
                <!-- end section title -->
            </div>
            <div class="row">
                <!-- blog item -->
                <div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="300ms">
                    <div class="blog-post">
                        <div class="blog-post-images"><a href="blog-single-full-width-with-image-slider.html"><img src="{{ if .Params.nicpic }} /assets/images/hsb/quart/{{ .Params.nicpic}} {{ else }} http://placehold.it/800x500 {{end}}" alt=""></a></div>
                        <div class="post-details">
                            <p class="post-title"> {{ .Params.nictitle | markdownify }} </p>
                            <p class="width-100 gray-text">
                                {{ .Params.nicdesc | markdownify }}
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end blog item -->
                <div class="col-md-6 col-sm-6 wow fadeInUp" data-wow-duration="900ms">
                    <div class="blog-post">
                        <div class="blog-post-images"><a href="blog-single-full-width.html"><img src="{{ if .Params.alexpic }} /assets/images/hsb/quart/{{ .Params.alexpic}} {{ else }} http://placehold.it/800x500 {{end}}" alt=""></a></div>
                        <div class="post-details">
                            <p class="post-title">{{ .Params.alextitle | markdownify }}</p>
                            <p class="width-100 gray-text">
                                {{ .Params.alexdesc | markdownify }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end blog item -->
        </div>
    </section>
    <!-- end people section -->

    <!-- end content section -->
{{ end }}
