{{ define "main" }}
    <!-- slider -->
    <section id="slider" class="no-padding">
        <div id="owl-demo" class="owl-carousel owl-theme light-pagination square-pagination dark-pagination-without-next-prev-arrow main-slider">
            <!-- slider item -->
            <div class="item owl-bg-img" style="background-image:url('{{ if .Params.background }} /assets/images/hsb/full/{{ .Params.background }} {{ else }} http://placehold.it/1920x1100 {{ end }}');">
                <div class="opacity-full"></div>
                <div class="container full-screen position-relative">
                    <div class="slider-typography text-center">
                        <div class="slider-text-middle-main">
                            <div class="slider-text-middle slider-text-middle6 padding-left-right-px wow fadeInUp">
                                <!-- <span class="slider-title-big6 white-text text-uppercase font-weight-700 letter-spacing-3">experiences</span>
                                <span class="white-text text-small text-uppercase letter-spacing-10 margin-three no-margin-bottom display-block xs-letter-spacing-6">we craft experiences that help brands</span> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end slider item -->
        </div>
    </section>
    <!-- end slider -->
    <!-- home-spa -->
    <section class="no-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <span class="text-large display-block">HughSamBros Presents</span>
                    <span class="title-large text-uppercase letter-spacing-1 font-weight-600 black-text">The Kaizen Challenge</span>
                    <div class="separator-line-thick bg-fast-pink no-margin-lr"></div>
                    <p class="no-margin-bottom">{{ .Params.kaizendesc | markdownify}}</p>
                    <a class="highlight-button-black-border btn btn-small no-margin-bottom inner-link sm-margin-bottom-ten" href="{{ .Site.BaseURL }}blog/2017/12/kc-introducing-the-kaizen-challenge/">Read More</a>
                </div>
                <div class="col-md-3 col-sm-6 text-center col-md-offset-1 xs-margin-bottom-ten"><img src="{{ if .Params.firstkaizen }} /assets/images/hsb/eight/{{ .Params.firstkaizen }} {{ else }} http://placehold.it/500x600 {{ end }}" class="xs-img-full" alt=""/></div>
                <div class="col-md-3 col-sm-6 text-center "><img src="{{ if .Params.secondkaizen }} /assets/images/hsb/eight/{{ .Params.secondkaizen }} {{ else }} http://placehold.it/500x600 {{ end }}" class="xs-img-full" alt=""/></div>
            </div>
        </div>
    </section>
    <!-- end home-spa -->
    <!-- first mpc section -->
    <!-- home one page architecture -->
    <section id="approach" class="approach parallax1 parallax-fix parallax-section-main no-padding-bottom">
        <!-- <img class="parallax-background-img" src="http://placehold.it/1920x1200" alt="" /> -->
        <div class="carousel slide carousel-slide" id="myCarousel2">
            <div class="container">
                <div class="row">
                    <!-- section title -->
                    <div class="col-md-12 text-center">
                        <h3 class="section-title section-title-services gray-text no-padding-bottom">Alex's Kaizen Challenges</h3>
                    </div>
                    <!-- end section title -->
                </div>
                <div class="carousel-inner margin-seven no-margin-bottom">
                    <div class="item active">
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten"><a href="#"><img alt="" src="{{ if .Params.akcimg1 }} /assets/images/hsb/eight/{{ .Params.akcimg1 }} {{ else }} http://placehold.it/265x290 {{ end }}"></a><h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">Hockey Challenge</h5></div>
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten"><img alt="" src="{{ if .Params.lockimg }} /assets/images/hsb/eight/{{ .Params.lockimg }} {{ else }} http://placehold.it/265x290 {{ end }}"></a><h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">Cooking Pho</h5></div>
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten"><img alt="" src="{{ if .Params.lockimg }} /assets/images/hsb/eight/{{ .Params.lockimg }} {{ else }} http://placehold.it/265x290 {{ end }}"></a><h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">Nail a Backflip</h5></div>
                        <div class="col-md-3 col-sm-6 text-center"><img alt="" src="{{ if .Params.lockimg }} /assets/images/hsb/eight/{{ .Params.lockimg }} {{ else }} http://placehold.it/265x290 {{ end }}"></a><h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">New Language Challenge</h5></div>
                    </div>
                    <div class="item">
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten"><img alt="" src="{{ if .Params.lockimg }} /assets/images/hsb/eight/{{ .Params.lockimg }} {{ else }} http://placehold.it/265x290 {{ end }}"></a><h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">Photography Series</h5></div>
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten"><img alt="" src="{{ if .Params.lockimg }} /assets/images/hsb/eight/{{ .Params.lockimg }} {{ else }} http://placehold.it/265x290 {{ end }}"></a><h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">40 Straight Pull-Ups</h5></div>
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten"><img alt="" src="{{ if .Params.lockimg }} /assets/images/hsb/eight/{{ .Params.lockimg }} {{ else }} http://placehold.it/265x290 {{ end }}"></a><h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">Swimming Challenge</h5></div>
                        <div class="col-md-3 col-sm-6 text-center"><img alt="" src="{{ if .Params.lockimg }} /assets/images/hsb/eight/{{ .Params.lockimg }} {{ else }} http://placehold.it/265x290 {{ end }}"></a><h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">Bouldering Challenge</h5></div>
                    </div>
                    <div class="item">
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten"><img alt="" src="{{ if .Params.lockimg }} /assets/images/hsb/eight/{{ .Params.lockimg }} {{ else }} http://placehold.it/265x290 {{ end }}"></a><h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">HughSamBros Hoodie</h5></div>
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten"><img alt="" src="{{ if .Params.lockimg }} /assets/images/hsb/eight/{{ .Params.lockimg }} {{ else }} http://placehold.it/265x290 {{ end }}"></a><h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">Create a Chatbot</h5></div>
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten"><img alt="" src="{{ if .Params.lockimg }} /assets/images/hsb/eight/{{ .Params.lockimg }} {{ else }} http://placehold.it/265x290 {{ end }}"></a><h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">Rap Freestyle</h5></div>
                        <div class="col-md-3 col-sm-6 text-center"><img alt="" src="{{ if .Params.lockimg }} /assets/images/hsb/eight/{{ .Params.lockimg }} {{ else }} http://placehold.it/265x290 {{ end }}"></a><h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">Rubik's Cube Challenge</h5></div>
                    </div>
                </div>
            </div>
            <!-- slider controls -->
            <a data-slide="prev" href="#myCarousel2" class="left carousel-control"> <img alt="" src="/assets/images/arrow-pre-white-bg.png"> </a> <a data-slide="next" href="#myCarousel2" class="right carousel-control"> <img alt="" src="/assets/images/arrow-next-white-bg.png"> </a>
        </div>
    </section>
    <!-- end first mpc section -->
    <!-- second mpc section -->
    <section id="approach" class="approach parallax1 parallax-fix parallax-section-main">
        <!-- <img class="parallax-background-img" src="http://placehold.it/1920x1200" alt="" /> -->
        <div class="carousel slide carousel-slide" id="myCarousel3">
            <div class="container">
                <div class="row">
                    <!-- section title -->
                    <div class="col-md-12 text-center">
                        <h3 class="section-title section-title-services gray-text no-padding-bottom">Nich's Kaizen Challenges</h3>
                    </div>
                    <!-- end section title -->
                </div>
                <div class="carousel-inner margin-seven no-margin-bottom">
                    <div class="item active">
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten"><a href="{{ .Site.BaseURL }}/blog/2018/01/nkc1-the-cooking-challenge/"><img alt="" src="{{ if .Params.nkcimg1 }} /assets/images/hsb/eight/{{ .Params.nkcimg1 }} {{ else }} http://placehold.it/265x290 {{ end }}"></a><h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">Cooking Challenge</h5></div>
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten"><img alt="" src="{{ if .Params.lockimg }} /assets/images/hsb/eight/{{ .Params.lockimg }} {{ else }} http://placehold.it/265x290 {{ end }}"></a><h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">Make an App</h5></div>
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten"><img alt="" src="{{ if .Params.lockimg }} /assets/images/hsb/eight/{{ .Params.lockimg }} {{ else }} http://placehold.it/265x290 {{ end }}"></a><h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">Nail a Backflip</h5></div>
                        <div class="col-md-3 col-sm-6 text-center"><img alt="" src="{{ if .Params.lockimg }} /assets/images/hsb/eight/{{ .Params.lockimg }} {{ else }} http://placehold.it/265x290 {{ end }}"></a><h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">New Language Challenge</h5></div>
                    </div>
                    <div class="item">
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten"><img alt="" src="{{ if .Params.lockimg }} /assets/images/hsb/eight/{{ .Params.lockimg }} {{ else }} http://placehold.it/265x290 {{ end }}"></a><h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">Beatbox Freestyle</h5></div>
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten"><img alt="" src="{{ if .Params.lockimg }} /assets/images/hsb/eight/{{ .Params.lockimg }} {{ else }} http://placehold.it/265x290 {{ end }}"></a><h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">Video Challenge</h5></div>
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten"><img alt="" src="{{ if .Params.lockimg }} /assets/images/hsb/eight/{{ .Params.lockimg }} {{ else }} http://placehold.it/265x290 {{ end }}"></a><h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">Swimming Challenge</h5></div>
                        <div class="col-md-3 col-sm-6 text-center"><img alt="" src="{{ if .Params.lockimg }} /assets/images/hsb/eight/{{ .Params.lockimg }} {{ else }} http://placehold.it/265x290 {{ end }}"></a><h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">Choreography Series</h5></div>
                    </div>
                    <div class="item">
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten"><img alt="" src="{{ if .Params.lockimg }} /assets/images/hsb/eight/{{ .Params.lockimg }} {{ else }} http://placehold.it/265x290 {{ end }}"></a><h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">Basketball Challenge</h5></div>
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten"><img alt="" src="{{ if .Params.lockimg }} /assets/images/hsb/eight/{{ .Params.lockimg }} {{ else }} http://placehold.it/265x290 {{ end }}"></a><h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">Create a Chatbot</h5></div>
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten"><img alt="" src="{{ if .Params.lockimg }} /assets/images/hsb/eight/{{ .Params.lockimg }} {{ else }} http://placehold.it/265x290 {{ end }}"></a><h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">Rap Freestyle</h5></div>
                        <div class="col-md-3 col-sm-6 text-center"><img alt="" src="{{ if .Params.lockimg }} /assets/images/hsb/eight/{{ .Params.lockimg }} {{ else }} http://placehold.it/265x290 {{ end }}"></a><h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">Write a Short Story</h5></div>
                    </div>
                </div>
            </div>
            <!-- slider controls -->
            <a data-slide="prev" href="#myCarousel3" class="left carousel-control"> <img alt="" src="/assets/images/arrow-pre-white-bg.png"> </a> <a data-slide="next" href="#myCarousel3" class="right carousel-control"> <img alt="" src="/assets/images/arrow-next-white-bg.png"> </a>
        </div>
    </section>
    <!-- end second mpc section -->
    <!-- netlify-cms-script -->
    {{ partial "netlify-cms-script" . }}
    <!-- end netlify-cms-script -->
{{end}}
