{{ define "main" }}
    <!-- slider -->
    <!-- home main aka index-->
    <section id="slider" class="no-padding">
        <div id="owl-demo" class="owl-carousel owl-theme light-pagination square-pagination dark-pagination-without-next-prev-arrow main-slider">
            <!-- slider item -->
            <div class="item owl-bg-img" style="background-image:url('{{ if .Params.background }} /assets/images/hsb/full/{{ .Params.background }} {{ else }} http://placehold.it/1920x1100 {{ end }}');">
                <div class="opacity-full"></div>
                <div class="container full-screen position-relative">
                    <div class="slider-typography text-center">
                        <div class="slider-text-middle-main">
                            <div class="slider-text-middle slider-text-middle6 padding-left-right-px wow fadeInUp">
                                <!-- <span class="slider-title-big6 white-text text-uppercase font-weight-700 letter-spacing-3">experiences</span>
                                <span class="white-text text-small text-uppercase letter-spacing-10 margin-three no-margin-bottom display-block xs-letter-spacing-6">we craft experiences that help brands</span> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end slider item -->
        </div>
    </section>
    <!-- end slider -->
    <!-- home-spa -->
    <section class="no-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <span class="text-large display-block">HughSamBros Presents</span>
                    <span class="title-large text-uppercase letter-spacing-1 font-weight-600 black-text">The Kaizen Challenge</span>
                    <div class="separator-line-thick bg-fast-pink no-margin-lr"></div>
                    <p class="no-margin-bottom">{{ .Params.kaizendesc | markdownify}}</p>
                    <a class="highlight-button-black-border btn btn-small no-margin-bottom inner-link sm-margin-bottom-ten" href="{{ .Site.BaseURL }}blog/2017/12/kc-introducing-the-kaizen-challenge/">Read More</a>
                </div>
                <div class="col-md-7">
                <span class="title-large text-center text-uppercase letter-spacing-1 font-weight-600 black-text display-block sm-margin-top-ten">Recent Kaizen Posts</span>
                    {{ range first 2 (where .Site.Taxonomies.categories.kaizen.Pages "Section" "blog")}}
                        <div class="col-md-6 col-sm-8 text-center xs-margin-bottom-ten kaizen-post">
                            <a href="{{ .RelPermalink }}">
                                    <img src="{{ if .Params.img }} /assets/images/hsb/eight/{{ .Params.img }} {{ else }} http://placehold.it/500x600 {{ end }}" class="xs-img-full" alt=""/>
                            </a>
                            <h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">{{ .Title }}</h5>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </section>
    <!-- end home-spa -->
    <!-- first mpc section -->
    <!-- home one page architecture -->
    <section id="approach" class="approach parallax1 parallax-fix parallax-section-main no-padding-bottom">
        <!-- <img class="parallax-background-img" src="http://placehold.it/1920x1200" alt="" /> -->
        <div class="carousel slide carousel-slide" id="myCarousel2">
            <div class="container">
                <div class="row">
                    <!-- section title -->
                    <div class="col-md-12 text-center">
                        <h3 class="section-title section-title-services gray-text no-padding-bottom">Alex's Kaizen Challenges</h3>
                    </div>
                    <!-- end section title -->
                </div>
                {{ $achallenges := .Params.alexchallenges }}
                <div class="carousel-inner margin-seven no-margin-bottom">
                    <div class="item active">
                        {{ $ac1 := $achallenges.ac1 }}
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten {{ if $ac1.unlock }} kaizen-post {{ end }}">{{ if $ac1.unlock }}<a href="{{ .Site.BaseURL }}{{ $ac1.link }}"><img alt="" src="/assets/images/hsb/eight/{{ $ac1.image }}"></a>{{ else }}<img alt="" src="/assets/images/hsb/eight/{{ $ac1.lockimage }}">{{end}}<h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">{{ $ac1.name }}</h5></div>
                        {{ $ac2 := $achallenges.ac2 }}
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten {{ if $ac2.unlock }} kaizen-post {{ end }}">{{ if $ac2.unlock }}<a href="{{ .Site.BaseURL }}{{ $ac2.link }}"><img alt="" src="/assets/images/hsb/eight/{{ $ac2.image }}"></a>{{ else }}<img alt="" src="/assets/images/hsb/eight/{{ $ac2.lockimage }}">{{end}}<h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">{{ $ac2.name }}</h5></div>
                        {{ $ac3 := $achallenges.ac3 }}
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten {{ if $ac3.unlock }} kaizen-post {{ end }}">{{ if $ac3.unlock }}<a href="{{ .Site.BaseURL }}{{ $ac3.link }}"><img alt="" src="/assets/images/hsb/eight/{{ $ac3.image }}"></a>{{ else }}<img alt="" src="/assets/images/hsb/eight/{{ $ac3.lockimage }}">{{end}}<h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">{{ $ac3.name }}</h5></div>
                        {{ $ac4 := $achallenges.ac4 }}
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten {{ if $ac4.unlock }} kaizen-post {{ end }}">{{ if $ac4.unlock }}<a href="{{ .Site.BaseURL }}{{ $ac4.link }}"><img alt="" src="/assets/images/hsb/eight/{{ $ac4.image }}"></a>{{ else }}<img alt="" src="/assets/images/hsb/eight/{{ $ac4.lockimage }}">{{end}}<h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">{{ $ac4.name }}</h5></div>
                    </div>
                    <div class="item">
                        {{ $ac5 := $achallenges.ac5 }}
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten {{ if $ac5.unlock }} kaizen-post {{ end }}">{{ if $ac5.unlock }}<a href="{{ .Site.BaseURL }}{{ $ac5.link }}"><img alt="" src="/assets/images/hsb/eight/{{ $ac5.image }}"></a>{{ else }}<img alt="" src="/assets/images/hsb/eight/{{ $ac5.lockimage }}">{{end}}<h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">{{ $ac5.name }}</h5></div>
                        {{ $ac6 := $achallenges.ac6 }}
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten {{ if $ac6.unlock }} kaizen-post {{ end }}">{{ if $ac6.unlock }}<a href="{{ .Site.BaseURL }}{{ $ac6.link }}"><img alt="" src="/assets/images/hsb/eight/{{ $ac6.image }}"></a>{{ else }}<img alt="" src="/assets/images/hsb/eight/{{ $ac6.lockimage }}">{{end}}<h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">{{ $ac6.name }}</h5></div>
                        {{ $ac7 := $achallenges.ac7 }}
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten {{ if $ac7.unlock }} kaizen-post {{ end }}">{{ if $ac7.unlock }}<a href="{{ .Site.BaseURL }}{{ $ac7.link }}"><img alt="" src="/assets/images/hsb/eight/{{ $ac7.image }}"></a>{{ else }}<img alt="" src="/assets/images/hsb/eight/{{ $ac7.lockimage }}">{{end}}<h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">{{ $ac7.name }}</h5></div>
                        {{ $ac8 := $achallenges.ac8 }}
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten {{ if $ac8.unlock }} kaizen-post {{ end }}">{{ if $ac8.unlock }}<a href="{{ .Site.BaseURL }}{{ $ac8.link }}"><img alt="" src="/assets/images/hsb/eight/{{ $ac8.image }}"></a>{{ else }}<img alt="" src="/assets/images/hsb/eight/{{ $ac8.lockimage }}">{{end}}<h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">{{ $ac8.name }}</h5></div>
                    </div>
                    <div class="item">
                        {{ $ac9 := $achallenges.ac9 }}
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten {{ if $ac9.unlock }} kaizen-post {{ end }}">{{ if $ac9.unlock }}<a href="{{ .Site.BaseURL }}{{ $ac9.link }}"><img alt="" src="/assets/images/hsb/eight/{{ $ac9.image }}"></a>{{ else }}<img alt="" src="/assets/images/hsb/eight/{{ $ac9.lockimage }}">{{end}}<h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">{{ $ac9.name }}</h5></div>
                        {{ $ac10 := $achallenges.ac10 }}
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten {{ if $ac10.unlock }} kaizen-post {{ end }}">{{ if $ac10.unlock }}<a href="{{ .Site.BaseURL }}{{ $ac10.link }}"><img alt="" src="/assets/images/hsb/eight/{{ $ac10.image }}"></a>{{ else }}<img alt="" src="/assets/images/hsb/eight/{{ $ac10.lockimage }}">{{end}}<h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">{{ $ac10.name }}</h5></div>
                        {{ $ac11 := $achallenges.ac11 }}
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten {{ if $ac11.unlock }} kaizen-post {{ end }}">{{ if $ac11.unlock }}<a href="{{ .Site.BaseURL }}{{ $ac11.link }}"><img alt="" src="/assets/images/hsb/eight/{{ $ac11.image }}"></a>{{ else }}<img alt="" src="/assets/images/hsb/eight/{{ $ac11.lockimage }}">{{end}}<h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">{{ $ac11.name }}</h5></div>
                        {{ $ac12 := $achallenges.ac12 }}
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten {{ if $ac12.unlock }} kaizen-post {{ end }}">{{ if $ac12.unlock }}<a href="{{ .Site.BaseURL }}{{ $ac12.link }}"><img alt="" src="/assets/images/hsb/eight/{{ $ac12.image }}"></a>{{ else }}<img alt="" src="/assets/images/hsb/eight/{{ $ac12.lockimage }}">{{end}}<h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">{{ $ac12.name }}</h5></div>
                    </div>
                </div>
            </div>
            <!-- slider controls -->
            <a data-slide="prev" href="#myCarousel2" class="left carousel-control"> <img alt="" src="/assets/images/arrow-pre-white-bg.png"> </a> <a data-slide="next" href="#myCarousel2" class="right carousel-control"> <img alt="" src="/assets/images/arrow-next-white-bg.png"> </a>
        </div>
    </section>
    <!-- end first mpc section -->
    <!-- second mpc section -->
    <section id="approach" class="approach parallax1 parallax-fix parallax-section-main">
        <!-- <img class="parallax-background-img" src="http://placehold.it/1920x1200" alt="" /> -->
        <div class="carousel slide carousel-slide" id="myCarousel3">
            <div class="container">
                <div class="row">
                    <!-- section title -->
                    <div class="col-md-12 text-center">
                        <h3 class="section-title section-title-services gray-text no-padding-bottom">Nich's Kaizen Challenges</h3>
                    </div>
                    <!-- end section title -->
                </div>
                {{ $nchallenges := .Params.nicchallenges }}
                <div class="carousel-inner margin-seven no-margin-bottom">
                    <div class="item active">
                        {{ $nc1 := $nchallenges.nc1 }}
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten {{ if $nc1.unlock }} kaizen-post {{ end }}">{{ if $nc1.unlock }}<a href="{{ .Site.BaseURL }}{{ $nc1.link }}"><img alt="" src="/assets/images/hsb/eight/{{ $nc1.image }}"></a>{{ else }}<img alt="" src="/assets/images/hsb/eight/{{ $nc1.lockimage }}">{{end}}<h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">{{ $nc1.name }}</h5></div>
                        {{ $nc2 := $nchallenges.nc2 }}
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten {{ if $nc2.unlock }} kaizen-post {{ end }}">{{ if $nc2.unlock }}<a href="{{ .Site.BaseURL }}{{ $nc2.link }}"><div class="kaizen-post-images"><img alt="" src="/assets/images/hsb/eight/{{ $nc2.image }}"><div></a>{{ else }}<img alt="" src="/assets/images/hsb/eight/{{ $nc2.lockimage }}">{{end}}<h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">{{ $nc2.name }}</h5></div>
                        {{ $nc3 := $nchallenges.nc3 }}
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten {{ if $nc3.unlock }} kaizen-post {{ end }}">{{ if $nc3.unlock }}<a href="{{ .Site.BaseURL }}{{ $nc3.link }}"><img alt="" src="/assets/images/hsb/eight/{{ $nc3.image }}"></a>{{ else }}<div class="kaizen-post-images"><img alt="" src="/assets/images/hsb/eight/{{ $nc3.lockimage }}"></div>{{end}}<h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">{{ $nc3.name }}</h5></div>
                        {{ $nc4 := $nchallenges.nc4 }}
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten {{ if $nc4.unlock }} kaizen-post {{ end }}">{{ if $nc4.unlock }}<a href="{{ .Site.BaseURL }}{{ $nc4.link }}"><img alt="" src="/assets/images/hsb/eight/{{ $nc4.image }}"></a>{{ else }}<img alt="" src="/assets/images/hsb/eight/{{ $nc4.lockimage }}">{{end}}<h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">{{ $nc4.name }}</h5></div>
                    </div>
                    <div class="item">
                        {{ $nc5 := $nchallenges.nc5 }}
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten {{ if $nc5.unlock }} kaizen-post {{ end }}">{{ if $nc5.unlock }}<a href="{{ .Site.BaseURL }}{{ $nc5.link }}"><img alt="" src="/assets/images/hsb/eight/{{ $nc5.image }}"></a>{{ else }}<img alt="" src="/assets/images/hsb/eight/{{ $nc5.lockimage }}">{{end}}<h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">{{ $nc5.name }}</h5></div>
                        {{ $nc6 := $nchallenges.nc6 }}
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten {{ if $nc6.unlock }} kaizen-post {{ end }}">{{ if $nc6.unlock }}<a href="{{ .Site.BaseURL }}{{ $nc6.link }}"><img alt="" src="/assets/images/hsb/eight/{{ $nc6.image }}"></a>{{ else }}<img alt="" src="/assets/images/hsb/eight/{{ $nc6.lockimage }}">{{end}}<h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">{{ $nc6.name }}</h5></div>
                        {{ $nc7 := $nchallenges.nc7 }}
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten {{ if $nc7.unlock }} kaizen-post {{ end }}">{{ if $nc7.unlock }}<a href="{{ .Site.BaseURL }}{{ $nc7.link }}"><img alt="" src="/assets/images/hsb/eight/{{ $nc7.image }}"></a>{{ else }}<img alt="" src="/assets/images/hsb/eight/{{ $nc7.lockimage }}">{{end}}<h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">{{ $nc7.name }}</h5></div>
                        {{ $nc8 := $nchallenges.nc8 }}
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten {{ if $nc8.unlock }} kaizen-post {{ end }}">{{ if $nc8.unlock }}<a href="{{ .Site.BaseURL }}{{ $nc8.link }}"><img alt="" src="/assets/images/hsb/eight/{{ $nc8.image }}"></a>{{ else }}<img alt="" src="/assets/images/hsb/eight/{{ $nc8.lockimage }}">{{end}}<h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">{{ $nc8.name }}</h5></div>
                    </div>
                    <div class="item">
                        {{ $nc9 := $nchallenges.nc9 }}
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten {{ if $nc9.unlock }} kaizen-post {{ end }}">{{ if $nc9.unlock }}<a href="{{ .Site.BaseURL }}{{ $nc9.link }}"><img alt="" src="/assets/images/hsb/eight/{{ $nc9.image }}"></a>{{ else }}<img alt="" src="/assets/images/hsb/eight/{{ $nc9.lockimage }}">{{end}}<h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">{{ $nc9.name }}</h5></div>
                        {{ $nc10 := $nchallenges.nc10 }}
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten {{ if $nc10.unlock }} kaizen-post {{ end }}">{{ if $nc10.unlock }}<a href="{{ .Site.BaseURL }}{{ $nc10.link }}"><img alt="" src="/assets/images/hsb/eight/{{ $nc10.image }}"></a>{{ else }}<img alt="" src="/assets/images/hsb/eight/{{ $nc10.lockimage }}">{{end}}<h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">{{ $nc10.name }}</h5></div>
                        {{ $nc11 := $nchallenges.nc11 }}
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten {{ if $nc11.unlock }} kaizen-post {{ end }}">{{ if $nc11.unlock }}<a href="{{ .Site.BaseURL }}{{ $nc11.link }}"><img alt="" src="/assets/images/hsb/eight/{{ $nc11.image }}"></a>{{ else }}<img alt="" src="/assets/images/hsb/eight/{{ $nc11.lockimage }}">{{end}}<h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">{{ $nc11.name }}</h5></div>
                        {{ $nc12 := $nchallenges.nc12 }}
                        <div class="col-md-3 col-sm-6 text-center xs-margin-bottom-ten {{ if $nc12.unlock }} kaizen-post {{ end }}">{{ if $nc12.unlock }}<a href="{{ .Site.BaseURL }}{{ $nc12.link }}"><img alt="" src="/assets/images/hsb/eight/{{ $nc12.image }}"></a>{{ else }}<img alt="" src="/assets/images/hsb/eight/{{ $nc12.lockimage }}">{{end}}<h5 class="gray-text margin-ten no-margin-bottom xs-margin-top-five">{{ $nc12.name }}</h5></div>
                    </div>
                </div>
            </div>
            <!-- slider controls -->
            <a data-slide="prev" href="#myCarousel3" class="left carousel-control"> <img alt="" src="/assets/images/arrow-pre-white-bg.png"> </a> <a data-slide="next" href="#myCarousel3" class="right carousel-control"> <img alt="" src="/assets/images/arrow-next-white-bg.png"> </a>
        </div>
    </section>
    <!-- end second mpc section -->
    <!-- netlify-cms-script -->
    {{ partial "netlify-cms-script" . }}
    <!-- end netlify-cms-script -->
{{end}}
